* {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
}
body{
  background: url(./assets/pictures/gameBanner.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card-grid {
  /* margin:  20px ; */
  /* margin-left:  65px; */
    padding:0px 120px ;
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  
  grid-column-gap: 50px;
  grid-row-gap: 20px;
  
}

/* img {
  height: 300px;
} */

.card {
  position: relative;
  height: 130px;
  width: 98px;
  overflow: hidden;
}

.card .front {
  height: auto;
}


.card .back {
  height: fit-content;
}

.card img {
  height: auto;
  width: 100%;
  display: block;
  border: 2px solid #fff;
  border-radius: 6px;
}

.card .front {
  transform: rotateY(90deg);
  transition: all ease-in 0.2s;
  position: absolute;
}

.flipped .front {
  transform: rotateY(0deg);
  transition-delay: 0.2s;
}

.card .back {
  transition: all ease-in 0.2s;
  transition-delay: 0.2s;
}

.flipped .back {
  transform: rotateY(90deg);
  transition-delay: 0s;
}

.alert{
  position: absolute;
  z-index: 99;
  width: 600px;
  height: 400px;
  top: 50%;
  transform: translate(0,-50%);
  background-color: white;
  align-items: center;
  display: flex;
  background-color: burlywood;
  justify-content: center;
  border: 2px solid darkgoldenrod;
}

.alert h1{
  font-size: 50px;
  color: #956319;
}

.heading{
  color: #956319;
  filter: drop-shadow(1px 1px 0px #000);
}

@media screen and (max-width:500px) {
  .card-grid{
    grid-template-columns: 1fr 1fr ;

  }
}